.help-me{   
    height: 60px;
    width: 60px;
    position: absolute;
    left: 50px;
    bottom: 50px;
    background-color: #ffee75;
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow .2s ease-in-out; 
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 600;
    
    &:hover{
        box-shadow: none;
    }

}

.help-bubble{
    position: absolute;
    display: none;
    width: 250px;
    background-color: #d73030;
    color: white;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-weight: 600;

    &::before{
        content: 'x';
        font-size: 18px;
        position: absolute;
        top: 5px;
        right: 9px;
        cursor: pointer;
    }

    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #d73030;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    }

    &.reversed{
        &::after{
            top: 0;
            border-top: 0;
            margin-top: -20px;
            border-bottom: 20px solid #d73030;
        }
    }
}

.help-1{
    
    height: 120px;

    .arrow-keys{
        width: 110px;
        height: 45px;
        position: relative;
        margin: 0 auto;

        .arrow-key{
            width: 50px;
            height: 35px;
            background-color: #333;
            border-radius: 4px;
            box-shadow: 0 0.2em 0 0.05em #222;
            text-align: center;
            vertical-align: middle;
            line-height: 35px;
            color: white;
            font-size: 10px;
            display: inline-block;
            animation: KeyPressed 2s infinite step-end;
            transition: none;

            &.right{
                animation: KeyPressed 2s reverse infinite step-end;
            }
        }
    }
}

.help-2{
    height: 65px;
}

@keyframes KeyPressed {
    0% {
        box-shadow: none;
        background: #2a2a2a;
        color:lightgray;
        margin-top: 3px;
    }
    50% {
        box-shadow: 0 0.2em 0 0.05em #222;
        margin-top: 0px;
    }
    100% {
        box-shadow: none;
        background: #2a2a2a;
        color:lightgray;
    }
}