.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 3s;
}

.stars div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.stars .large {
    background: url('../img/stars_large.png');
}

.stars .medium {
    background: url('../img/stars_medium.png');
}

.stars .small {
    background: url('../img/stars_small.png');
}