$background-sky-day : #228cdc;
$background-sky-night : #0c3858;
$background-desert : linear-gradient(to bottom, #f7e251 0%,#ffe424 100%);

$mobile: "(max-width: 1023px)";
$largeDesktop: "(min-width: 1920px)";

@import 'cactus';
@import 'car';
@import 'cloud';
@import 'container';
@import 'desert';
@import 'help';
@import 'mountains';
@import 'reset';
@import 'road';
@import 'sky';
@import 'speed-buttons';
@import 'stars';