$background-sky-day : #228cdc;
$background-sky-night : #0c3858;
$background-desert : linear-gradient(to bottom, #f7e251 0%,#ffe424 100%);

$mobile: "(max-width: 1023px)";
$largeDesktop: "(min-width: 1920px)";

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

@import 'cactus';
@import 'car';
@import 'cloud';
@import 'container';
@import 'desert';
@import 'help';
@import 'mountains';
@import 'reset';
@import 'road';
@import 'sky';
@import 'speed-buttons';
@import 'stars';